<!DOCTYPE html>
<html lang="en">

<head>
    @include('partials/meta')
    @include('partials/admin-css')
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="{{ route('admin.login.index') }}" class="h1">
                    Admin {{ process.env.APP_NAME }}
                </a>
            </div>
            <div class="card-body">
                <form action="{{ route('admin.login.store') }}" method="post">
                    @!component('partials/bootstrap-input', {
                        type: 'email',
                        name: 'email',
                        prepandIcon: 'fas fa-envelope',
                        placeholder: 'Email'
                    })
                    @!component('partials/bootstrap-input', {
                        type: 'password',
                        name: 'password',
                        prepandIcon: 'fas fa-lock',
                        placeholder: 'Password'
                    })
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>
                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
            </div>
        </div>
    </div>
    <script src="/assets/js/admin.js"></script>
</body>

</html>