<li class="nav-item">
    <a href="{{ url }}" class="nav-link">
        @if(iconMenu)
        <i class="nav-icon {{ iconMenu }}"></i>
        @endif
        <p>
            {{ text }}
            @if(iconTextClass)
                <i class="{{ iconTextClass }}"></i>
            @endif
        </p>
    </a>
    {{{ await $slots.main() }}}
</li>