<header class="flex space-x-3 items-center justify-center py-10">
    <img src="{{ logo }}" alt="{{ title }}" class="rounded-full"
    height="50px" width="50px">
    <h1 class="capitalize">{{ noCase(title) }}</h1>
</header>