<header class="py-10">
    <div class="w-full mx-auto lg:w-3/12 flex space-x-5 items-center justify-center">
        <img src="{{ logo }}" alt="{{ title }}" class="rounded-full"
        height="50px" width="50px">
        <h1 class="capitalize text-3xl font-bold">{{{ noCase(title) }}}</h1>
    </div>
</header>