.opacity-100 {
    opacity: 1 !important;
}

.card-body::after, .card-footer::after, .card-header::after {
    content: none;
}

.font-style-normal {
    font-style: normal;
}

.todo-list__number--circle {
    width: 20px;
    height: 20px;
}