<header class="py-16">
    <div class="container">
        @!component('partials/heading-section', {text: titlePage})
    </div>
    <div class="cover-primary h-450px bg-cover bg-no-repeat" 
    style="background-image: url({{ bgHeader }})"></div>
</header>