@layout('layouts/admin')

@section('body')

    @include('vision/index')
    @include('mission/index')

@end

@section('component')
    @include('mission/add')
    
    @each((mission, key) in missions)
        @include('mission/delete')
        @include('mission/edit')
    @endeach
@endsection