<!DOCTYPE html>
<html lang="en">

<head>
    @include('partials/meta')
    @include('partials/admin-css')
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @include('partials/preloader')
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="index3.html" class="brand-link">
                <img src="/assets/img/icon/bemupnvj.svg" alt="{{ process.env.APP_NAME }} Logo"
                class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>
            <nav class="sidebar pt-2 mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    @!component('partials/dashboard-menu', {
                        url: route('admin.dashboard'),
                        text: 'Dashboard',
                        iconMenu: 'fas fa-tachometer-alt'
                    })
                    @!component('partials/dashboard-menu', {
                        url: route('admin.primary_cover.index'),
                        text: 'Primary Cover',
                        iconMenu: 'fas fa-th'
                    })
                    @component('partials/dashboard-menu', {
                        url: '#',
                        text: 'About Us',
                        iconMenu: 'fas fa-tree',
                        iconTextClass: 'fas fa-angle-left right'
                    })
                        <ul class="nav nav-treeview">
                            @!component('partials/dashboard-menu', {
                                url: route('about_us.vision_mission'),
                                text: 'Visi Misi',
                                iconMenu: 'far fa-circle nav-icon'
                            })
                            @!component('partials/dashboard-menu', {
                                url: route('contact_us.manage'),
                                text: 'Social Media',
                                iconMenu: 'far fa-circle nav-icon'
                            })
                        </ul>
                    @endcomponent
                    @if(auth.isLoggedIn)
                        @component('partials/dashboard-menu', {
                            url: 'javascript:void(0);',
                            text: 'Logout',
                            iconMenu: 'fas fa-th',
                            onclick: 'event.preventDefault(); document.getElementById("logout-form").submit()'
                        })
                        <form action="{{ route('admin.logout') }}" method="POST" id="logout-form">
                            {{ csrfField() }}
                        </form>
                        @endcomponent
                    @end
                </ul>
            </nav>
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">{{ titlePage }}</h1>
                        </div>
                        {{--  <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                @each((path, index) in paths)
                                    <li class="breadcrumb-item {{ index + 1 === paths.length ? 'active' : '' }}">
                                        <a href="">{{ path }}</a>
                                    </li>
                                @endeach
                            </ol>
                        </div>  --}}
                    </div>
                </div>
            </div>
            <main class="content">
                <div class="container-fluid">
                    @!section('body')
                </div>
            </main>
        </div>
        @include('partials/footer')
    </div>

    @!section('component')

    @include('partials/admin-script')

</body>

</html>