<!DOCTYPE html>
<html lang="en">
<head>
    @include('partials/meta')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {{--  <link href="" rel="stylesheet">  --}}
    <link rel="stylesheet" href="/assets/css/app.css">
    @!section('style')
</head>
<body class="font-roboto">
    <nav class="bg-white h-20">
        <div class="container flex items-center h-full">
            @include('partials/brand-logo')
            <ul class="flex items-center space-x-8">
                @!component('partials/menu', {
                    text: 'Beranda',
                    link: route('landing_page')
                })
                @component('partials/menu', {
                    text: 'Tentang',
                    hasDropdown: true,
                    minWidth: '150%',
                    dropdownClass: 'left-1/2 transform -translate-x-1/2 w-150%'
                })
                    @!component('partials/menu', {
                        text: 'Tentang kami',
                        link: route('about_us.index')
                    })
                    @!component('partials/menu', {
                        text: 'Visi dan misi',
                        link: route('vision_mission')
                    })
                    @!component('partials/menu', {
                        text: 'Makna Logo',
                        link: route('logo_meaning.index')
                    })
                @end
                @component('partials/menu', {
                    text: 'Info Mahasiswa',
                    hasDropdown: true
                })
                    @!component('partials/menu', {
                        text: 'Info Untuk Mahasiswa',
                        link: route('info_mahasiswa.index')
                    })
                    @!component('partials/menu', {
                        text: 'Scholarship and career',
                        link: route('info_mahasiswa.scholareer')
                    })
                @end
                @component('partials/menu', {
                    text: 'Events',
                    hasDropdown: true
                })
                    @!component('partials/menu', {
                        text: 'Mendatang',
                        link: route('event.upcoming')
                    })
                    @!component('partials/menu', {
                        text: 'Lalu',
                        link: route('event.past')
                    })
                @end
                @!component('partials/menu', {
                    text: 'Berita',
                    link: route('news_portal')
                })
                @!component('partials/menu', {
                    text: 'Kontak',
                    link: route('contact_us.index')
                })
            </ul>
        </div>
    </nav>
    @!section('header')
    <main class="overflow-hidden">
        @!section('body')
    </main>
    <footer class="bg-red-primary py-8 mt-10 relative">
        <div class="container">
            <div class="grid lg:grid-cols-2">
                <div>
                    @include('partials/brand-logo')
                    <ul class="mt-8">
                        @each((contact, key) in ourContact)
                            <li class="flex text-white items-center mb-4 relative">
                                <div class="mr-2">
                                    @!component('partials/img-lazy', {
                                        src: contact.logo,
                                        alt: contact.info,
                                        height: 16,
                                        width: 16
                                    })
                                </div>
                                <span>{{ contact.info }}</span>
                                @!component('partials/stretched-link', {
                                    link: contact.link 
                                })
                            </li>
                        @endeach
                    </ul>
                </div>
                <div>
                    @!component('partials/heading-section', {
                        text: `Kenali ${aboutUs.cabinet_name}`,
                        color: 'white',
                        align: 'left'
                    })
                    <div class="relative inline-block -mt-8 w-8/12">
                        <a data-fslightbox href="{{ 'https://www.youtube.com/watch?v=' + 
                        aboutUs.know_us_video }}" class="block"
                            href="javascript:;">
                            <img src="/assets/img/icon/play-solid.svg" alt="" 
                            class="h-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            @!component('partials/img-lazy', {
                                src: `https://img.youtube.com/vi/${aboutUs.know_us_video}/mqdefault.jpg`,
                                alt: `Tentang ${process.env.APP_NAME}`,
                                addClass: 'block w-full max-h-48 object-cover'
                            })
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @!component('partials/btn', {
            bg: 'transparent',
            addClass: 'rounded-md fixed right-10 bottom-10 btn-back-top hide-el',
            icon: '/assets/img/icon/arrow-up.svg'
        })
    </footer>
    <script src="/assets/js/app.js"></script>
</body>
</html>