<!DOCTYPE html>
<html lang="en">
<head>
    @include('partials/meta')
    <link rel="stylesheet" href="/assets/css/app.css">
    @!section('style')
</head>
<body>
    @!section('body')
    <script src="/assets/css/app.js"></script>
</body>
</html>